.root{
    --e-global-color0: #8bc34a;
    --e-global-color1: #6a9739;
    --e-global-color2: #111111;
    --e-global-color3: #333333;
    --e-global-color4: #f8f6f3;
    --e-global-color5: #ffffff;
    --e-global-color6: #001524;
    --e-global-color7: #f8f6f3;
    --e-global-color8: #000000;
  }

.hero-section {
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 200px;
  display: block;
  background-image: url(/public/images/leaves-free-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: bottom right; */
  opacity: 0.3;
  right: 0;
  bottom: 0;
}
