.accordianBlock {
  position: relative;
}

.accordianBlock::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 350px;
  display: block;
  background-image: url('../../../assets/images/leaves-free-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
  right: 0;
  bottom: 0;
}

@media (max-width: 400px) {
  .infoBox-container {
    padding: 10px;
    width: 100%;
  }
  .accordianBlock{
    margin-left: 0px;
    margin-right: 0;
    width: auto;
  }
  .mainInfo-container{
    width: 100%;
  }
  .infoBox-container .infoBox{
    padding: 20px 5px;
  }
  .infoBox-container .infoBox p{
    word-wrap: break-word !important;
  }
}
