#root {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  cursor: default;
}

.head-line-1 {
  font-family: Amiri Quran;
  font-weight: 700;
}

.amiri-quarn {
  font-family: Amiri Quran;
}
